<!DOCTYPE html>
<html>
<head>

<title>Create Portfolio</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Create Portfolio</h1>

<form method="POST">

<input type="text" name="name" placeholder="Name">

<input type="text" name="designation" placeholder="Current Designation">

<input type="text" name="location" placeholder="Location">

<input type="text" name="contact" placeholder="Contact">

<textarea name="summary" placeholder="Summary of Profile"></textarea>

<textarea name="education" placeholder="Educational Details"></textarea>

<textarea name="skills" placeholder="Skills"></textarea>

<textarea name="achievement" placeholder="Achievements"></textarea>

<textarea name="project" placeholder="Projects"></textarea>

<textarea name="subject" placeholder="Best Subjects"></textarea>

<textarea name="activities" placeholder="Other Activities"></textarea>

<button type="submit">Save Portfolio</button>

</form>

</div>

</body>
</html>
