<!DOCTYPE html>
<html>
<head>

<title>Create Portfolio</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Create Portfolio</h1>

<form method="POST">

<input
type="text"
name="name"
placeholder="Name"
required>

<input
type="text"
name="designation"
placeholder="Current Designation"
required>

<input
type="text"
name="location"
placeholder="Location"
required>

<input
type="text"
name="contact"
placeholder="Contact Details"
required>

<textarea
name="summary"
placeholder="Summary of Profile"
required></textarea>

<textarea
name="education"
placeholder="Educational Details"
required></textarea>

<textarea
name="skills"
placeholder="Skills"
required></textarea>

<textarea
name="achievement"
placeholder="Achievements"
required></textarea>

<textarea
name="project"
placeholder="Projects"
required></textarea>

<textarea
name="subject"
placeholder="Best Subject"
required></textarea>

<textarea
name="activities"
placeholder="Other Activities"
required></textarea>

<button type="submit">
Save Portfolio
</button>

</form>

</div>

</body>
</html>
