<!DOCTYPE html>
<html>
<head>

<title>Update Portfolio</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Update Portfolio</h1>

<form method="POST">

<input type="text" name="name" value="{{ data[1] }}">

<input type="text" name="designation" value="{{ data[2] }}">

<input type="text" name="location" value="{{ data[3] }}">

<input type="text" name="contact" value="{{ data[4] }}">

<button type="submit">Update</button>

</form>

</div>

</body>
</html>
