<!DOCTYPE html>
<html>
<head>

<title>View Portfolio</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1 class="title">Portfolio Details</h1>

{% for row in data %}

<div class="card">

<h2>{{ row[1] }}</h2>

<p><b>Designation:</b> {{ row[2] }}</p>

<p><b>Location:</b> {{ row[3] }}</p>

<p><b>Contact:</b> {{ row[4] }}</p>

<p><b>Summary:</b> {{ row[5] }}</p>

<p><b>Education:</b> {{ row[6] }}</p>

<p><b>Skills:</b> {{ row[7] }}</p>

<p><b>Achievements:</b> {{ row[8] }}</p>

<p><b>Projects:</b> {{ row[9] }}</p>

<p><b>Best Subjects:</b> {{ row[10] }}</p>

<p><b>Activities:</b> {{ row[11] }}</p>

<a href="/update/{{ row[0] }}">
<button>Update</button>
</a>

</div>

{% endfor %}

</body>
</html>
